#heroSection{
    background-image: url(../assets/images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-origin: border-box;
    background-position: center 15%;
    position: relative;
    z-index: -100;
    filter: brightness(70%) blur(4px);
    -webkit-filter: brightness(70%) blur(4px);
    
}