.linkHoverer{
    &:hover{
        &:after{
            
            width: 80%;

}
    }
    &:after{
        transform-origin: center;
        content: "";
        position: absolute;
        top: 133%;
        left: 50%;
        width: 0;
        background-color: $Orange;
        height: 3px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
}

.btnHoverer{
    &:hover{
        background-color: $lightOrange;
    }
    &:focus{
        box-shadow: none;
    }
}
.btnHoverer2{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        width: 9rem;
        background-color: $Orange;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    &:hover{
        color: white;

        &:after{
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            content:"2500 ريال";
            line-height: normal;
            color: white;
}
    }
}

.btnHoverer3{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        width: 9rem;
        background-color: $Dark;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    &:hover{
        color: white;

        &:after{
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            content:"2500 ريال";
            line-height: normal;
            color: white;
}
    }
}
.myFilter{
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    &:hover

{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        transform: rotate(3deg) scale(1.1);
        -webkit-transform: rotate(3deg) scale(1.1);
        -moz-transform: rotate(3deg) scale(1.1);
        -ms-transform: rotate(3deg) scale(1.1);
        -o-transform: rotate(3deg) scale(1.1);
}
}

